{% load static %}

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">
        <img src="{% static 'images/pepe-logo.png' %}" alt="pepe-logo" style="height: 40px;">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path|slice:':5' == '/home' %}active{% endif %}" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path|slice:':6' == '/forum' %}active{% endif %}" href="/forum">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path|slice:':5' == '/user' %}active{% endif %}" href="/user">User</a>
          </li>
        </ul>

        <form class="d-flex me-3" method="GET" action="/search">
          <div class="input-group">
            <input class="form-control" type="search" name="query" placeholder="Search..." aria-label="Search">
          </div>
        </form>
        
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Hello, {{ user.username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
          {% else %}
            <a href="/registration/login" class="btn btn-outline-light me-2">Login</a>
            <a href="/registration/signup" class="btn btn-primary">Sign Up</a>
          {% endif %}
        </div>

      </div>
    </div>
  </nav>
</header>